*{
    font-family: 'Rubik';
}

body{
    background-image: url(./images/Bg\ image.jpg);
    background-size: cover;
}
.app{
    margin:50px auto;
    width: 300px;
    box-shadow: 3px 5px 8px 3px rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.8);
    /*
    background-image: url(./images/Bg\ image.jpg);
    background-size: cover;
    */
}

.app-bg-overlay{
    background-color: rgba(255, 255, 255, 0.5);
}

#error-display{
    text-align: center;
    color: red;
    font-size: xx-small;
}

.buttons{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    margin-top: 15px;
}

.buttons button{
    width: inherit;
    padding: 5px 15px 5px 15px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .1);
    border-radius: 3px;
    display: flex;
    align-items: center;
}

#people-cnt{
    font-size: 50px;
    margin: 0px;

}


#increment-btn{
    background-color: rgba(255, 153, 0, 1);
}

#save-btn{
    background-color: rgba(0, 255, 0, 1);
}
#reset-btn{
    background-color: rgba(255, 0, 0, 1);
}